<body>
    <table style="border: 1px solid black;">
        <thead>
            <tr style="border: 1px solid black;">
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Company</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
          <% let conut= 1;
          for(let i of data){ %>
            <tr style="border: 1px solid black; padding: 10px;">
            <td style="border: 1px solid black; padding: 10px;"><%= conut %></td>
            <td style="border: 1px solid black; padding: 10px;"><%= i.name %></td>
            <td style="border: 1px solid black; padding: 10px;"><%= i.email %></td>
            <td style="border: 1px solid black; padding: 10px;"><%= i.mobile %></td>
            <td style="border: 1px solid black; padding: 10px;"><%= i.company %></td>
            <td style="border: 1px solid black; padding: 10px;"><%= i.message %></td>
            </tr>
            <% conut++; } %>
        </tbody>
    </table>
</body>